@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";


@theme {
  --font-inter: "Inter", sans-serif;
  --font-plus-jakarta: "Plus Jakarta Sans", sans-serif;
}

body {
    background-color: #F7FAFC;
}

.cutoff-table th{
  font-size: 14px;
  color:#002045;
}

.cutoff-table td{
  font-size: 12px;
  color: #43474E;
}

.cutoff-table th, td{
  padding: 6px;
  text-align: center;
}