@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";


@theme {
  /*fonts*/
  --font-inter: "Inter", sans-serif;
  --font-plus: "Plus Jakarta Sans", sans-serif;

  /* colors */
  --color-navy-dark: #002045;
  --color-light-black: #181C1E;
  --color-blackish-ash: #43474E;
  --color-light-green: #9FF5C1;
  --color-dark-green: #167249;
  --color-ash-border: #C4C6CF; 
}

body {
    background-color: #F7FAFC;
}

.cutoff-table th{
  font-size: 14px;
  color:#002045;
}

.cutoff-table td{
  font-size: 12px;
  color: #43474E;
}

.cutoff-table th, td{
  padding: 6px;
  text-align: center;
}

input:focus-visible{
  outline: none;
}

select:focus-visible{
  outline: none;
}